 .u-section-1 {
  min-height: 450px;
}

.u-section-1 .u-image-1 {
  height: 451px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 268px;
  }

  .u-section-1 .u-image-1 {
    height: 268px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 149px;
  }

  .u-section-1 .u-image-1 {
    height: 149px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 145px;
}

.u-section-2 .u-text-1 {
  margin: 60px 0 46px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 27px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-bottom: 1px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 479px;
}

.u-section-3 .u-tabs-1 {
  min-height: 476px;
  height: auto;
  margin: 0 0 3px;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 29px 917px 0 21px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  margin: -38px 30px 0 330px;
}

.u-section-3 .u-text-3 {
  margin: 23px 30px 0 330px;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  margin: 27px 30px 0 330px;
}

.u-section-3 .u-gallery-1 {
  height: 320px;
  width: 320px;
  margin: -270px auto 0 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  margin: -30px -30px 0;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 31px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 737px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -20px;
    margin-right: -302px;
    margin-left: 462px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 172px;
    margin-left: 462px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 462px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -304px;
    margin-left: 40px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-right: 491px;
    margin-left: 26px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -29px;
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 5px;
    margin-left: 360px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 365px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -320px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -58px;
    margin-right: 5px;
    margin-left: 309px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 29px;
    margin-left: 309px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 309px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -375px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 931px;
  }

  .u-section-3 .u-tabs-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 381px;
    margin-right: 80px;
    margin-left: 57px;
  }

  .u-section-3 .u-text-2 {
    width: 322px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 322px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 322px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -781px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
  min-height: 618px;
}

.u-section-4 .u-gallery-1 {
  height: 547px;
  grid-gap: 17px 17px;
  margin-top: 2px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 522px;
  }

  .u-section-4 .u-gallery-1 {
    height: 451px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 848px;
  }

  .u-section-4 .u-gallery-1 {
    height: 777px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2402px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2331px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1539px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1468px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 13px;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 948px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 454px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-6 .u-text-7 {
  font-size: 3.75rem;
  margin: 17px auto 0;
}

.u-section-6 .u-image-4 {
  height: 291px;
  margin-top: 70px;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 1px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 374px;
  }

  .u-section-6 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-top: 18px;
  }

  .u-section-6 .u-image-4 {
    height: 199px;
    width: 902px;
    margin: 0 auto 1px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 859px;
  }

  .u-section-6 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 159px;
    margin-top: 20px;
    width: 720px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 119px;
    margin-bottom: 1px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-6 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 75px;
    width: 340px;
  }
} .u-section-7 {
  background-image: url("images/default-image.jpg?rand=ba81");
  min-height: 722px;
}

.u-section-7 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 43px 0 43px auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
  min-height: 637px;
}

.u-section-7 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin-left: 0;
}

.u-section-7 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  margin-left: 0;
}

.u-section-7 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-3 {
  padding: 20px;
}

.u-section-7 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-7 .u-text-6 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    height: auto;
    width: 940px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-repeater-1 {
    min-height: 466px;
  }

  .u-section-7 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-7 .u-list-item-3 {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 976px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
    margin-left: auto;
    margin-bottom: 26px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 907px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 722px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-7 .u-text-4 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-7 .u-text-6 {
    margin-top: 20px;
    margin-bottom: initial;
  }
}